<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>880</integer>
	<key>capHeight</key>
	<integer>695</integer>
	<key>copyright</key>
	<string>Copyright 2021-2025 LXGW (https://github.com/lxgw/LxgwWenKai)
Copyright 2020 The Klee Project Authors (https://github.com/fontworks-fonts/Klee)</string>
	<key>descender</key>
	<integer>-120</integer>
	<key>familyName</key>
	<string>LXGW WenKai</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeGaspRangeRecords</key>
	<array>
		<dict>
			<key>rangeGaspBehavior</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>rangeMaxPPEM</key>
			<integer>65535</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2020/12/15 00:00:00</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>8</integer>
	</array>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>8</integer>
	<key>openTypeHheaAscender</key>
	<integer>928</integer>
	<key>openTypeHheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-256</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>LXGW / Fontworks Inc.</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://github.com/lxgw</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>LXGW / Fontworks Inc.</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/lxgw</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>LXGW WenKai</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeNameRecords</key>
	<array>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2052</integer>
			<key>nameID</key>
			<integer>1</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>霞鹜文楷 Light</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2052</integer>
			<key>nameID</key>
			<integer>2</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Regular</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1033</integer>
			<key>nameID</key>
			<integer>4</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>LXGW WenKai Light</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2052</integer>
			<key>nameID</key>
			<integer>4</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>霞鹜文楷 Light</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1033</integer>
			<key>nameID</key>
			<integer>16</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>LXGW WenKai</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2052</integer>
			<key>nameID</key>
			<integer>16</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>霞鹜文楷</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1033</integer>
			<key>nameID</key>
			<integer>17</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Light</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2052</integer>
			<key>nameID</key>
			<integer>17</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Light</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2052</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>落霞与孤鹜齐飞，秋水共长天一色。</string>
		</dict>
	</array>
	<key>openTypeNameUniqueID</key>
	<string>LXGW WenKai Light:Version 1.521</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.521; July 14, 2025</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>18</integer>
		<integer>20</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>52</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>62</integer>
		<integer>63</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array/>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>300</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>880</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-120</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>9</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>68</integer>
		<integer>90</integer>
		<integer>99</integer>
		<integer>109</integer>
		<integer>111</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>LXGW</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1032</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>285</integer>
	<key>openTypeVheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeVheaCaretSlopeRise</key>
	<integer>0</integer>
	<key>openTypeVheaCaretSlopeRun</key>
	<integer>1</integer>
	<key>openTypeVheaVertTypoAscender</key>
	<integer>2483</integer>
	<key>openTypeVheaVertTypoDescender</key>
	<integer>-1509</integer>
	<key>openTypeVheaVertTypoLineGap</key>
	<integer>0</integer>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptUnderlinePosition</key>
	<integer>-175</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleMapFamilyName</key>
	<string>LXGW WenKai Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Light</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>521</integer>
	<key>xHeight</key>
	<integer>468</integer>
</dict>
</plist>
